.head{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: gray;
}
.container{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photo img{
  width:150px;
  height: 150px;
  margin-top:50px;
}
.card__cont{
    width:850px;
    height:300px;
    background-color: gray;
    color:white;
    list-style-type: none;
    margin-bottom:30px;
    display: flex;
    justify-content: space-between;
}
.description{
    display: flex;
    justify-content: space-around;
    width:850px;
}
.description_text{
    width:350px;
}
.description_title{
    margin-top:50px; 
} 