    <div class="head">
      <h3>More info</h3>
    </div>
    <div class="container">
        <div class="card__cont">
          <div class="description">
            <div class="photo">
                <img src="" alt="Image">
            </div>
            <div class="description_text">
              <h3 class="description_title">fewfwe</h3>
              <p class="short_description">ewfwefw</p>
              <p> Автор :fwsfsdf </p>
            </div>
          </div>
          <p> edcwssd </p>
        </div>
    </div>