@import 'variables';

.navbar{
    padding: 0;
}
.nav-link{
    padding:15px 5px 15px 5px;
}
.nav-link{
    font-weight:@hoverWeight;
}
.nav-link:hover{
  background-color: @hoverColor;
  color:@navTextColor !important;
}

.alert{
    color:@hoverColor;
    padding-left: 0px;
}
hr{
  background-color: @hoverColor;
    height:1px;
}