p,h1,h2,h3,h4,h5,h6,body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
header{
    width: 100%;
    background-image: url(/img/sample2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-height: 1450px;
}
.head_menu{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
    padding-top:40px;
}
.head_menu_logo{
    font-size:20px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-left:100px;
}
.head_menu_items{
    margin-right: 70px;
    height: 100%;
}
li{
    list-style-type: none;
    display: inline-block;
}
.head_menu_items a{
    text-decoration: none;
    font-size: 15px;
    color:white;
    padding:60px;
 }
.head_title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.head_title_logo{
    padding-top:238px;
    font-size:60px;
    text-transform: uppercase;
    color:white;
    font-weight:normal;
    letter-spacing: 28px;
    height: 100%;
}
.head_title_logo span{
    font-weight:normal;
    font-size: 120px;
}
.head_subtitle_logo{
    font-size: 20px;
    font-weight: normal;
    color:white;
}
.head_menu_buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top:450px;
    padding-bottom:210px;
}
.head_menu_button a{
    text-decoration: none;
    font-size:20px;
    color:#FFFFFF;
}
.head_menu_button{
    background-color: transparent;
    border:2px solid #FFFFFF;
    padding:20px 90px 20px 90px;
}
.main_info{
    width: 100%;
    height: 500px;
}
.main_short_info{
  position: relative;
  z-index: 1;
  width:100%;
  height: 500px;
  background: linear-gradient(12deg,#FFFFFF 50%,#000000 50%);
}
.main_short_text{
    width:800px;
    display: flex;
    justify-content: center;
    margin-right: 100px;
    padding-top: 50px;
    color:#FFFFFF;
    float: right;
    font-size: 20px;
    font-weight: 100;
}
.main_short_subtext{
    padding-top:250px;
    width:800px;
    text-align: left;
    color:#000000 ;
    font-size:20px;
    margin-left:90px;
    font-weight: 100;
}
span{
    font-weight: 800;
}
.main_info_title{
    margin-top:130px;
    font-weight: normal;
    color:#000000;
    text-align: center;
    font-size:30px;
}
.main_feature_first{
    display: flex;
    justify-content: space-between;
}
.main_feature_first{
    width:100%;
    height: 600px;
}
.main_first_img{
    width:50%;
    height:100%;
    background: url(/img/sample-1.jpg) no-repeat;
    background-size:cover;
    margin-left: 60px;
}
.main_first_text {
    width:40%;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main_first_text p{
    margin-bottom: 50px;
    margin-right: 60px;
}