<header class='header'>
    <h1>MyNews</h1>
    <div class='menu__items'>
      <select [(ngModel)]="author">
         <option  name="nature" ngDefaultControl> ggggg</option>
      </select>
      <form>
        <input type="text" placeholder="Enter what you looking for?" [(ngModel)] = "searchStr" name="something">
        <input type="submit" value="submit" value="Filter">
      </form>
      <button class="article_btn" routerLink="/createinfo">Add Article</button>
    </div>
  </header>
  
  <div class="container">
      <div *ngFor="let item of items | search:searchStr" class="card__cont" >
        <div class="description">
          <div class="photo">
              <img src="{{item.url}}" alt="Image">
          </div>
          <div class="description_text">
            <h3 class="description_title">{{item.title}}</h3>
            <p class="short_description">{{item.shortDescription}}</p>
            <a routerLink="/moreinfo">Read more...</a>
          </div>
        </div>
        <p class="description_date">{{item.date}}</p>
      </div>
  </div>
  <div id="container">
    <router-outlet></router-outlet>
  </div>
