/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
 /* :root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #162b4d;
  --link: #fff;
  --link--hover: #b8b8b8;
  --bg-footer-color: #162b4d;;
} */

body {
  font-family: roboto;
}
.post-1 {
  background: #B71757;
  width:450px;
  height: 400px;
}
h1{
  font-weight: 100;
}
.post-2 {
  background: #0D7E71;
  width:450px;
  height:380px;
}
.post-3 {
  background: #b1660e;
  width:450px;
  height:380px;
}
.post-4 {
  background: #d12767;
  width:450px;
  height:380px;

}
.post-5 {
  background: #2d95bb;
}

body{
  background-color: #0b192f;
  margin: 0px;
}
.container{
  width:1200px;
  margin-left:auto;
  margin-right: auto;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color:#162b4d;
}
.logo{
  color:#fff;
  font-weight: 100;
  font-size: 30px;
  margin-left:30px;
}
.second-color{
  color:#d12763;
}
.header-menu li{
  list-style-type: none;
  display: inline-block;
  padding-right: 50px;
}
.header-menu a{
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  font-size: 20px;
}
main{
  display: flex;
}
.gallery{
  width:900px;
}
.article-gallery__item:nth-child(even){
   display: flex;
   flex-direction: row-reverse;
   text-align:right;
   color:white;
   font-weight: 100;
}
.article-gallery__item:nth-child(odd){
  display: flex;
  text-align:left;
  color:white;
  font-weight: 100;
}
.article-gallery__text{
  display: flex;
  justify-content: center;
}
.gallery-container__description{
  width:70%;
}
.article-gallery__photo{
  width:50%;
  height: 400px;
}
.article-gallery__subphoto{
  width:50%;
  height:380px;
}
.gallery_title{
  font-size:40px;
  word-wrap: break-word;
}
.gallery_description{
  font-size: 20px;
}
.gallery-footer__title{
    font-size: 40px;
    margin-left: 30px;
}
.gallery-footer__description{
  margin-left: 30px;
}
.first-photo{
  background: url(/img/post1.jpg) no-repeat;
  background-size: cover;
}
.second-photo{
  background: url(/img/post2.jpg) no-repeat;
  background-size: cover;
}
.third-photo{
  background: url(/img/post3.jpg) no-repeat;
  background-size: cover;
}
.four-photo{
  background: url(/img/post4.jpg) no-repeat;
  background-size: cover;
}
.aside-gallery{
  width:300px;
}

