.card{
    margin-left:10px;
    margin-top:10px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stars{
    width: 120px;
}
.image1{
    font-size:60px;
    position: relative;
}
.image2{
    font-size: 40px;
    position: relative;
    right: 30px;
}
.image3{
    font-size:30px;
    position: absolute;
    top:50px;
    right:80px;
}