//Container
$containerWidth:1200px;
$containerHeight:800px;
$containerColor:rgb(44, 62, 80);

//Fields
$battlefieldWidth:300px;
$battlefieldHeight:300px;
$fieldColor:rgb(249, 231, 159);

//Buttons
$buttonWidth:320px;
$buttonHeight:200px;
$buttonsColor: rgb(72, 201, 176);
$buttonHover:rgb(27, 79, 114);
$buttonsRadious:50px;

//Fonts
$textSize:40px;
$textColor:white;
$titleSize:25px;

