@mixin header_style {
    display: flex;
    border-bottom-right-radius: $header_block_radius;
    width: $header_block_width;
    height: $header_block_heigth;
}
@mixin cards{
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin-left: 80px;

}
@mixin inner_card_style {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
}

body,p{
    margin:0;
    padding: 0;
}
.header{
    @include header_style();
    position: relative;
    z-index: 1;
    background-image: $font_image;
    background-repeat: no-repeat;
    background-size:100%;
}
.landing-logo{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;
     p{
         display: flex;
         flex-direction: column;
         color:$sub_text_color;
         font-family:$second_font;
         font-size:$text_size_main;
         font-weight:$subtitle_text_weight;
         margin-left: 20px;
         
     }
     span{
        color:$sub_text_color;
        font-size:12px;
        font-weight: normal;
     }
}
.header-wrap{
    margin-left: 100px;
}
.header_heading{
    position: relative;
    z-index: 1;
    width:450px;
    color:$main_text_color;
    font-size: $text_size_title;
    font-family:$main_font;
    font-weight:$title_text_weight;
    padding-bottom: 70px;

    &::before{
        content: "";
        position: absolute;
        top:122px;
        width: 255px;
        z-index: -1;
        height: 20px;
        background-color: $underline_color;
    }
}

.header_text{
      width: 650px;
      text-align: left;
      font-family:$second_font;
      font-weight:100;
      color:$header_sub_color;
     font-size:$text_size_main;
     padding-bottom: 60px;
}
.header_button{
    padding:map-get($button_settings,"button_padd");
    background-color: map-get($button_settings,"button_color");
    border:map-get($button_settings,"button_border");
    color:map-get($button_settings,"button_text_color");
    font-weight: map-get($button_settings,"button_text_weight");
    font-size: map-get($button_settings,"button_text_size");
    border-radius:5px;
}
.section{
    position: relative;
    z-index: -2;
    bottom:290px;
    width: 1200px;
    height: 900px;
    background-color: $section_background;
}
.section_card_wrap{
    @include cards();
}
.section_card{
  @include inner_card_style();


}
.section_text{
    position: relative;
    padding-top:320px;
    margin-bottom:30px;
    padding-left: 370px;
    color:$main_text_color;
    font-weight:$subtitle_text_weight;
    font-size: 30px;
    font-family: $main_font;

    &::before{
    content: "";
    position: absolute;
    width: 135px;
    top:345px;
    left:525px;
    z-index:-1;
    height: 11px;
    background-color: $underline_color;
    }
}
.section_card{
    width:map-get($card_settings , card_width);
    height: map-get($card_settings , card_height);
    background-color: map-get($card_settings, card_color);
    color:map-get($card_settings,card_text_color);
}
    .section_card_heading{
        position: relative;
        z-index:1;
        font-family:$main_font;
        font-weight: $subtitle_text_weight;
        font-size: map-get($card_settings,card_title_size);
    }
    .section_card_underline{
        display: inline-block;
        position: relative;
        z-index:-20;
        bottom: map-get($underline_position , underline_bottom);
        width: 100%;
        height: 10px;
        background-color: $underline_color;
    }
    .section_card:nth-child(3){
         
        .section_card_text{
          margin-top:30px;
        }
        .section_card_underline{
            display: inline-block;
            position: absolute;
            z-index:-20;
            bottom:map-get($underline_position, underline_bottom_2 );
            width: 100%;
            height: 10px;
            background-color: $underline_color;
        }
    }
    .section_card_img{
        width: 250px;
        height: 150px;
        background-size: 100%;
        border-radius: 5px;
        margin-top:20px;
    }
    .section_card_text{
        text-align:center;
        font-family:$second_font;
        font-size:map-get($card_settings , card_text_size);
        width: map-get($card_settings, card_text_width);
        height: map-get($card_settings, card_text_height);

    }
.section_banner{
    position: absolute;
    z-index: -1;
    margin-top:120px;
    margin-left:190px;
    width:map-get($banner , baner_width);
    height: map-get($banner, banner_height);
    background:map-get($banner ,baner_background);
    border-radius: map-get($banner, baner_radius);

    }
   .section_banner_text_wrap{
       padding-left: 80px;
      
       &::before{
        content: "";
        position: absolute;
        width: 55px;
        top:38px;
        left:180px;
        z-index: -1;
        height: 11px;
        background-color: $underline_color;
       }
   }
     .section_banner_heading{
        position: relative;
        z-index: 1;
        color:$main_text_color;
        font-family:$main_font;
        font-weight: $title_text_weight;
        font-size: 25px;
        padding-top: 20px;
    }
    .section_banner_text{
        color:$sub_text_color;
        font-family:$second_font;
        font-weight: 100;
        font-size: 13px;
    }
    .section_banner_button{
        @extend .header_button;
        float: right;
        position: relative;
        bottom: 50px;
        right:70px;

    }
.footer{
    width: map-get($footer_design,footer_width);
    height: map-get($footer_design,footer_height);
    background-color:map-get($footer_design,footer_background);
    position:absolute;
    top: 1305px;
    z-index: -20;

}
.footer-wrap{
    display: flex;
    justify-content: space-around;
    padding-top:60px;
.footer-logo{
   
}
    p{
         color:map-get($footer_design,footer_text_color);
         font-size:$text_size_main;
     }
     span{
        color:map-get($footer_design,footer_text_color);
        font-size: 15px;
     }
     .footer_text{
         padding-top: 28px;
         font-size: 12px;
         font-family:$second_font;
         width: 300px;
     }
     .footer-cr{
        padding-top: 40px;
         text-align: bottom;
         font-size: 11px;
         font-family:$second_font;
         width: 300px;
     }
}

